@import "tailwindcss";

:root {
    --primary: #f87060;
    --accent: #102542;
    --background: #e4af8c;
}

body {
    background-color: var(--background);
}

.font-pixel {
    font-family: 'Press Start 2P', cursive;
  }